.webcast-center {
    margin: 0 auto;
    text-align: center;
}

.webcast-message {

}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
    display: none;
}

.vjs-default-skin.vjs-paused .vjs-control-bar {
    display: block;
}

/* ROOM STYLING THIS STANDALONE */
#page-mod-webcast-view_webcast {
    background: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#page-mod-webcast-view_webcast #page {
    padding: 0;
    margin: 0;
}

#page-mod-webcast-view_webcast #webcast-stream-holder {
    margin: 70px 0 0 0;
    padding: 0 20px;
}

#page-mod-webcast-view_webcast header {
    margin: 0 20px 10px 20px;
    padding: 5px 20px;
    background: #F5F5F5;
}

#page-mod-webcast-view_webcast header {
    font-size: 16px;
}

#webcast-left-menu {
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #F5F5F5;
    z-index: 999;
    border-right: 1px solid #CCCCCC;
    position: fixed;
}

#webcast-left {
    margin-right: 400px;
}

#webcast-holder {
    overflow: hidden;
    min-height: 100%;
}

#webcast-right {
    background: #fff;
    width: 400px;
    position: fixed;
    right: 0;
    top: 50px;
    height: 100%;
    min-height: 100%;
    bottom: 0;
    border-left: 1px solid #CCCCCC;
}

#page-mod-webcast-view_webcast .webcast-header {
    height: 35px;
    background: #F5F5F5;
    line-height: 35px;
    vertical-align: middle;
    overflow: hidden;
    border-bottom: 1px solid #CCCCCC;
}

#page-mod-webcast-view_webcast .webcast-header h2 {
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}

#webcast-userlist-holder ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 380px;
}

#webcast-userlist-holder ul li {
    padding: 5px 10px;
    border-bottom: 1px dashed #CCCCCC;
}

#webcast-userlist-holder ul li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#webcast-userlist-holder ul li.webcast-broadcaster span {
    font-weight: bold;
    color: #000;
}

#webcast-userlist-holder ul li.webcast-teacher span {
    color: #4A4B4C;
}

#webcast-userlist-holder ul li.webcast-student span {
    color: #6C6E70;
}

#webcast-userlist-holder ul li.webcast-guest span {
    color: #B2B5B7;
}

#webcast-userlist-holder ul li:last-child {
    border-bottom: none;
}

.webcast-hidden {
    display: block;
}

#webcast-loadhistory {
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    background: #2DCB73;;
    font-size: 12px;
    padding: 5px 10px;
    line-height: normal;
    margin: 4px 5px 0 5px;
    text-align: center;
    color: #fff;
    float: right;
}

#webcast-chatlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 380px;
}

#webcast-chatlist ul li {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#webcast-chatlist .message-container {
    float: right;
    clear: both;
    width: 353px;
    min-height: 50px;
    border-radius: 3px;
    padding: 3px 7px;
    border: 1px solid #EFF0F4;
}

#webcast-chatlist .webcast-socketserver .message-container, #webcast-chatlist .webcast-local .message-container {
    background: #F1F1F1;
}

#page-mod-webcast-view_webcast .webcast-username {
    color: #5484BC;
    margin: 0 40px 0 0;
    float: left;
    font-weight: bold;
}

#page-mod-webcast-view_webcast .webcast-timestamp {
    color: #5484BC;
    float: right;
    font-size: 10px;
    text-align: right;
    line-height: 10px;
}

#webcast-chatlist .webcast-message {
    display: block;
    float: left;
    clear: both;
    margin: 5px 0;
}

#webcast-chatlist ul li .webcast-avatar {
    float: left;
    margin-right: 5px;
}

#webcast-chatlist ul li .webcast-avatar img {
    width: 20px;
    height: 20px;
}

#webcast-chatinput {
    border-top: 1px solid #CCCCCC;
    height: 60px;
    background: #F5F5F5;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 400px;
}

#webcast-message {
    border: none;
    background: #fff;
    margin: 0 10px;
    border-radius: 3px;
    display: block;
    box-shadow: none;
    transition: none;
    width: 347px;
    padding: 4px 30px 4px 6px;
    color: #000000;
    font-size: 14px;
    border: 1px solid #CCCCCC;
}

#webcast-send {
    border-radius: 3px;
    display: block;
    cursor: pointer;
    background: #4D68A1;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 4px 5px 0 5px;
    text-align: center;
    color: #fff;
    width: 130px;
    float: right;
}

#webcast-topbar {
    background: #4D68A1;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

#webcast-topbar-right {
    float: right;
    color: #fff;
    width: 239px;
    text-align: right;
    cursor: pointer;
}

#webcast-topbar-right img {
    width: 50px;
    height: 50px;
    margin-top: 0;
    position: absolute;
    right: 0;
    border-left: 1px solid #23355B;
}

#webcast-topbar-right .fullname {
    position: absolute;
    right: 65px;
    margin-top: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#webcast-topbar-right .usertype {
    position: absolute;
    right: 65px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#webcast-topbar-left {
    position: absolute;
    color: #fff;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

#webcast-topbar-left .arrow {
    margin-right: 5px;
    font-size: 14px;
    width: 30px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    float: left;
    background: #23355B;
    cursor: pointer;
}

#webcast-filemanager-btn {
    color: #4D68A1;
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    margin: 39px 0 0 12px;
}

#webcast-emoticon-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url([[pix:mod_webcast|smiley]]) no-repeat scroll 0 0;
    margin: 5px 0 0 369px;
}

/* Tiny Scrollbar */
#page-mod-webcast-view_webcast .scroll {
    width: 400px;
    margin: 5px 0;
}

#page-mod-webcast-view_webcast .scroll .viewport {
    width: 380px;
    overflow: hidden;
    position: relative;
}

#page-mod-webcast-view_webcast .scroll .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

#page-mod-webcast-view_webcast .scroll .scrollbar {
    /*background: transparent url([[pix:mod_webcast|bg-scrollbar-track-y]]) no-repeat 0 0;*/
    position: relative;
    background-position: 0 0;
    float: right;
    width: 15px;
}

#page-mod-webcast-view_webcast .scroll .track {
    /*background: transparent url([[pix:mod_webcast|bg-scrollbar-trackend-y]]) no-repeat 0 100%;*/
    height: 100%;
    width: 13px;
    position: relative;
    padding: 0 1px;
}

#page-mod-webcast-view_webcast .scroll .thumb {
    background: transparent url([[pix:mod_webcast|bg-scrollbar-thumb-y]]) no-repeat 50% 100%;
    height: 20px;
    width: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px;
}

#page-mod-webcast-view_webcast .scroll .thumb .end {
   background: transparent url([[pix:mod_webcast|bg-scrollbar-thumb-y]]) no-repeat 50% 0;
    overflow: hidden;
    height: 5px;
    width: 25px;
}

#page-mod-webcast-view_webcast .scroll .disable {
    display: none;
}

#page-mod-webcast-view_webcast .noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}